.base {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 32px;
  padding: 4px;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  border-radius: 2px;
  border-style: none;
  cursor: pointer;
}

.base:active {
  transform: scale(0.95);
}

.default {
  border: none;
  background-color: #b6c2b7;
}

.default:hover {
  background-color: #8d9e8e;
}

.primary,
.danger {
  background-color: #e8f5e9;
}

.primary:hover {
  background-color: #b6c2b7;
}

.secondary:hover {
  border-radius: 50%;
  background-color: antiquewhite;
}

.danger:hover {
  background-color: #cb9b8c;
}
