.editable-input-h2,
.editable-span-h2,
.editable-input-p,
.editable-span-p {
  display: inline-block;
  width: 100%;
}
.editable-input-h2,
.editable-span-h2 {
  font-size: 20px;
  min-height: 20px;
}

.editable-input-p,
.editable-span-p {
  margin-left: 8px;
  font-size: 14px;
  min-height: 14px;
}

.editable-input-h2,
.editable-input-p {
  border: none;
  outline: #ffffee;
}

.editable-span-h2:hover,
.editable-span-p:hover {
  background-color: #ffffee;
}
