h1 {
  text-align: center;
  margin: 0;
  font-size: 3.75rem;
}

.body-loggedout {
  min-height: 100vh;
  background-color: #ffccbc;
}

.loggedout-section {
  width: 100%;
  max-width: 968px;
  margin: 0 auto;
}
