.body-loggedin {
  min-height: 100vh;
  background-color: #efefef;
}

.loggedin-section {
  width: 100%;
  max-width: 968px;
  margin: 0 auto;
}

.back-to-top-icon,
.showed {
  display: block;
  width: 32px;
  height: 32px;
  position: fixed;
  right: 64px;
  bottom: 64px;
  opacity: 1;
  transition: opacity cubic-bezier(0, 0.3, 0.6, 1) 0.5s;
}

.hidden {
  opacity: 0;
  transition: opacity cubic-bezier(1, 0.6, 0.3, 0) 0.5s;
}
