.body-loggedin {
  min-height: 100vh;
  background-color: #efefef;
}

.loggedin-section {
  width: 100%;
  max-width: 968px;
  margin: 0 auto;
  padding: 80px 0;
}

.back-to-top-icon {
  width: 32px;
  height: 32px;
  position: fixed;
  right: 64px;
  bottom: 64px;
}
