.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 16px 24px;
  background-color: #ffccbc;
  box-shadow: 0 0 4px 0 #bdbdbd;
}

.navbar > div {
  display: flex;
}

.navbar > div > span {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  background-color: #cb9b8c;
  cursor: pointer;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 24px;
  border-radius: 16px;
  cursor: pointer;
  text-decoration: none;
}

.nav-link:hover {
  background-color: antiquewhite;
}

.nav-link:active {
  background-color: thistle;
  transform: scale(0.95);
}

.nav-span-username {
  color: #000000;
  margin-left: 8px;
  font-weight: bold;
}

.nav-avatar {
  margin-left: 8px;
  width: 32px;
  height: 32px;
  object-fit: cover;
  font-size: 12px;
  border-radius: 16px;
}

.navbar-padding {
  height: 80px;
}
