.notebook-header,
.notebook-listorganizers-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notebook-listorganizers-container {
  display: flex;
  justify-content: space-between;
  width: 72px;
}

.notebook-ul {
  padding: 0;
}
