.sheet-li {
  padding: 24px;
  margin-bottom: 16px;
  border-radius: 8px;
  list-style: none;
  background-color: #ffffff;
  border-left: solid 32px #cb9b8c;
  box-shadow: 1px 1px 1px 1px #bdbdbd;
}

.sheet-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.sheet-title-container {
  min-width: 85%;
}

.sheet-btns-container {
  display: flex;
  margin: 0 -4px;
}

.create-todo-container,
.delete-sheet-container {
  display: flex;
  flex: 1;
  margin: 0 4px;
}
