.todo-li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  margin: 8px 0 8px;
}

.todo-checkbox {
  box-shadow: 0 0 0 2px antiquewhite;
}

.todo-text,
.todo-text-input {
  display: 'inline-block';
  width: 100%;
  min-height: 14px;
  margin-left: 8px;
  font-size: 14px;
}

.todo-text-input {
  border: none;
  outline: antiquewhite;
}

.todo-text:hover {
  background-color: antiquewhite;
}

.todo-text:active {
  background-color: thistle;
}
